header, footer {
    max-width: 60rem;
    margin: auto;
}

#mainWrapper {
    width: 80%;
    margin-left: 10%;
} 


details {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 10%;
    ul {
        list-style-type: none;
        display: flex;
        width: 50%;
        li {
            flex: 1;
            border: none;
        }
    }
    li.active {
       color: white;
    }
    ul li a {
        display: block;
        padding: .75rem;
        text-align: center;
        &:hover {
            text-decoration: underline 3px #028A96;
            text-decoration-style: wavy;
        }
    }
}

